
.add-pr a {
    margin-left: 8px !important;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flexCenterRow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}
/** ADD YOUR AWESOME CODES HERE **/