* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.notAdminError {
    width: 100%;
    height: 100vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans;
    background-color: #2a2c50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ghost {
    width: 100px;
    height: 120px;
    background-color: white;
    margin: 25px;
    border-radius: 100rem 100rem 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ghost 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.ghost:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #191a2e;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    border-radius: 0 0 100rem 100rem;
    background-color: white;
    box-shadow: 20px 0 0 0 white, 40px 0 0 0 white, 60px 0 0 0 white, 80px 0 0 0 white;
}

.ghost:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100rem;
    position: absolute;
    left: -10px;
    box-shadow: 100px 0 0 0 white;
}

.ghost-body {
    width: 100%;
    max-width: 50%;
    height: 50px;
}

.ghost-eye {
    width: 20px;
    height: 20px;
    background-color: #191a2e;
    border-radius: 100rem;
    box-shadow: 30px 0 0 0 #191a2e;
}

.ghost-mouth {
    width: 100%;
    max-width: 80%;
    margin: 10px auto 0;
    background-color: #191a2e;
    height: 20px;
    border-radius: 0 0 100rem 100rem;
    position: relative;
}

.ghost-mouth:before {
    content: "";
    position: absolute;
    left: 30%;
    width: 5px;
    height: 5px;
    background-color: white;
}

@keyframes ghost {
    to {
        transform: translateY(30%);
    }
}

.notAdmin {
    padding: 100px;
    color: white;
}

.notAdmin_link {
    text-decoration: none;
    padding: 20px 60px;
    background-color: white;
    color: #060729;
    border-radius: 100rem;
    font-size: 30px;
}

.notAdmin_link:hover {
    background-color: #353863;
    color: white;
}